@charset "UTF-8";

html {
    font-size: calc(10 * 100vw / 390);
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

@media (min-width:768px) {
html {
        font-size: calc(10 * 100vw / 1240);
        scroll-padding-top: 5rem;
        scroll-behavior: smooth;
    }
}

@media (min-width: 1240px) {
html {
        font-size: 62.5%;
    }
}

body {
    font-family: "Noto Sans JP",sans-serif;
    line-height: 1.75;
    color: #000;
    padding-top: 6.3rem;
}
@media (min-width: 768px) {
    body {
    font-size: 1.6rem;
    padding-top: 11.4rem;
    }
}

a {
    text-decoration: none;
    color: #000;
}
img {
    height: auto;
    vertical-align: bottom;
}


/* 共通部分
------------------------------*/
/* ヘッダー */
.header {
    height: 6.3rem;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    align-items: center;
    padding: 2rem 1.6rem 0;
}
@media (min-width:768px) {
    .header {
        height: 11.4rem;
        padding: 4rem 1.6rem 0;

    }
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (min-width:768px) {
    .header__container {
        display: flex;
        justify-content: space-between;
        max-width: 116.8rem;
        margin-inline: auto;
    }
}
.header__logo {
    line-height: 1;
    width: 26.3rem;
    display: block;
}
@media (min-width:768px) {
    .header__logo {
        width: 26.3rem;
        display: block;
    }
}
.header__logo img {
    width: 75%;
}
@media (min-width:768px) {
    .header__logo img {
        width: 100%;
    }
}

/* ハンバーガーボタン */
.hamburger-button {
    width: 2.4rem;
    height: 1.8rem;
    cursor: pointer;
}
@media (min-width:768px) {
    .hamburger-button {
        display: none;
    }
}
.hamburger-button img {
    width: 100%;
}

/* sp ナビゲーション */
.sp-nav {
    position: fixed;
    top: 6.3rem;
    z-index: 1000;
    left: 1.6rem;
    right: 1.6rem;
    background-color: #168352;
    border-radius: 2.4rem;
    display: none;
}
.sp-nav__list {
    padding: 3.2rem;
}
.sp-nav__list li {
    list-style: none;
    padding-bottom: 2.5rem;
}
.sp-nav__list-text a {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    width: 100%;
}
.sp-nav__list li:last-child {
    padding-bottom: 0;
}
.pc-nav {
    display: none;
}

/* pcナビゲーション */
@media (min-width: 768px) {
    .pc-nav {
        display: block;
    }
    .pc-nav__list {
        display: flex;
    }
    .pc-nav__list li {
        list-style: none;
    }
    .pc-nav__list-text {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 700;
        margin-left: 3.8rem;
        transition: .4s;
    }
    .pc-nav__list-text-price,
    .pc-nav__list-text-faq {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 700;
        margin-left: 3.8rem;
        transition: .4s;
        color: #168352;
    }
}
/* トップページ
------------------------------ */
/* メイン */
.main {
    padding: .8rem 1.6rem 0;
}
@media (min-width: 768px) {
    .main {
        padding: 3.6rem 1.6rem 0;
        max-width: 120rem;
        margin-inline: auto;
    }
}
@media (min-width: 768px) {
    .main__title {
        display: flex;
        max-width: 116.8rem;
        margin-inline: auto;
        padding: 0 3.5rem 5.8rem 3.4rem;
    }
}
.main__title h2 {
    font-size: 2.8rem;
    font-weight: 700;
}
@media (min-width: 768px) {
    .main__title h2 {
        width: 50%;
        font-size: 4rem;
    }
}
.main__title p {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.6rem 0 2.6rem;
    line-break: anywhere;
}
@media (min-width: 768px) {
    .main__title p {
        width: 50%;
        padding: 1.2rem 0 0 2.1rem;
    }
}
.main__image {
    width: 35.8rem
}
@media (min-width:768px) {
    .main__image {
        width: 116.7rem;
    }
}
.main__image img {
    width: 100%;
}

/* About Us 私たちについて */
.about-us {
    padding-top: 4.8rem;
}
@media (min-width: 768px) {
    .about-us {
        max-width: 120rem;
        margin-inline: auto;
        padding: 5.6rem 1.6rem 6.1rem;
    }
}
.section__title {
    text-align: center;
}
.section__title p {
    font-family: "Montserrat";
    font-size: 1.6rem;
    font-weight: 600;
    color: #168352;
}
@media (min-width: 768px) {
    .section__title p {
        font-size: 2rem;
    }
}
.section__title h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin: .2rem 0 2.4rem;
}
@media (min-width: 768px) {
    .section__title h3 {
        font-size: 2.8rem;
        margin: .6rem 0 3.3rem .1rem;
    }
}
.about-us__container {
    background-image: url(/assets/image/top_about_us_sp.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    padding: 3.2rem 1.6rem;
}
@media (min-width: 768px) {
    .about-us__container {
        background-image: none;
        display: flex;
        justify-content: space-between;
        padding: 0 11.5rem 0 9.7rem;
    }
}
.about-us__description {
    border-radius: 3.2rem;
    background-color: #fff;
    opacity: .8;
    padding:  1.6rem 2.4rem 1.8rem 2.4rem;
    max-width: 35.8rem;
    margin-inline: auto;
}
@media (min-width: 768px) {
    .about-us__description {
        border: none;
        max-width: 48.4rem;
        padding: 10rem 7.3rem 0 .2rem;
        margin: 0;
    }
}
.about-us__description {
    font-size: 1.8rem;
    font-weight: 700;
}
@media (min-width: 768px) {
    .about-us__description span {
        font-size: 2rem;
    }
}
.inline-block--pc-only {
    display: unset;
    margin-left: -.4rem;
}
@media (min-width: 768px) {
    .inline-block--pc-only {
        display: block;
        margin-left: 0;
    }
}
.inline-block {
    display: inline-block;
}
.about-us__description p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: .6rem;
}
@media (min-width: 768px) {
    .about-us__description p {
        margin-top: 2.5rem;
    }
}
.about-us__visual {
    display: none;
}
@media (min-width: 768px) {
    .about-us__visual {
        display: block;
        width: 39rem;
    }
    .about-us__visual img {
        width: 100%;
    }
}

/* Features 私たちが選ばれる3つの理由 */
.features {
    background-color: #f3f9f6;
    padding: 4.8rem 1.6rem 5.7rem;
}
@media (min-width: 768px) {
    .features {
        padding: 5.9rem 1.6rem 6.6rem;
    }
}
.features__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    list-style: none;
}
@media (min-width: 768px) {
    .features__list {
        flex-direction: row;
        justify-content: space-between;
        max-width: 116.8rem;
        margin-inline: auto;
    }
}
.features__item {
    width: 35.8rem;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.05);
    border-radius:2.4rem;
}
@media (min-width: 768px) {
    .features__item {
        width: 36.9rem;
    }
}
.features__item-image {
    width: 35.8rem;
    border-top-left-radius: 2.4rem;
    border-top-right-radius: 2.4rem;
}
@media (min-width: 768px) {
    .features__item-image {
        width: 36.9rem;
    }
}
.features__item-image img {
    width: 100%;
}
.features__item-text {
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #fff;
    border-bottom-left-radius: 2.4rem;
    border-bottom-right-radius: 2.4rem;
    padding: 1.25rem 1.6rem;
}
@media (min-width: 768px) {
    .features__item-text {
        font-size: 1.9rem;
        padding: 1.1rem 2rem;
    }
}

/* Products/Service 製品・サービス紹介 */
.products {
    padding: 4.9rem 1.6rem 5.7rem;
}
@media (min-width: 768px) {
    .products {
        padding: 6.1rem 1.6rem 6.5rem;
    }
}
.products__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    list-style: none;
}
@media (min-width: 768px) {
    .products__list {
        max-width: 110rem;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 4rem;
    }
}
.products__box,
.products__box--large {
    border-radius: 2.4rem;
    background-color: #168352;
    display: flex;
    align-items: center;
    padding: 2rem 2.3rem 2rem 2.4rem;
    transition: background .4s;
}
@media (min-width: 768px) {
    .products__box:hover,
    .products__box--large:hover {
        background-color: #dffaec;
        cursor: pointer;
    }
}
@media (min-width: 768px) {
    .products__box {
        width: 33.3rem;
    }
    .products__box--large {
        width: 52.5rem;
        padding: 2.3rem 2.4rem 2.5rem 3.1rem;
    }
}
.products__box-image,
.products__box--large-image {
    width: 10rem;
}
@media (min-width: 768px) {
    .products__box-image {
        width: 11rem;
    }
    .products__box--large-image {
        width: 13.3rem;
    }
}
.products__box-image img,
.products__box--large-image img {
    width: 100%;
}
.products__box-text,
.products__box--large-text {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 1.6rem;
}
@media (min-width: 768px) {
    .products__box--large-text {
        font-size: 2.4rem;
        padding: 0 2.9rem;
    }
}
@media (min-width: 768px) {
    .products__box-text {
        font-size: 2rem;
        padding: 0 1rem 0 2rem;
    }
}
@media (min-width: 768px) {
    .products__box-text:hover,
    .products__box--large-text:hover {
        color: #168352;
    }
}
.products__box-text span,
.products__box--large-text span {
    display: inline-block;
}

/* Case お客様の事例紹介 */
.case {
    background-color: #f3f9f6;
    padding: 4.7rem 1.6rem;
}
@media (min-width: 768px) {
    .case {
        padding: 5.4rem 1.6rem 5.8rem;
    }
}
.case__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    list-style: none;
}
@media (min-width: 768px) {
    .case__list {
        max-width: 116.8rem;
        margin-inline: auto;
        flex-direction: row;
        column-gap: 3rem;
        justify-content: space-between;
    }
}
.case__item {
    transition: .4s;
}
@media (min-width: 768px) {
    .case__item {
        transition: .4s;
    }
}
@media (min-width: 768px) {
    .case__item:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}
.case__item-image {
    width: 35.8rem;
    border-radius: 2.4rem;
}
@media (min-width: 768px) {
    .case__item-image {
        width: 36.9rem;
    }
}
.case__item-image img {
    width: 100%;
}
.case__item p {
    color: #09947b;
    font-size: 1.8rem;
    font-weight: 700;
    padding: .9rem 0 0 .2rem;
}
@media (min-width: 768px) {
    .case__item p {
        font-size: 1.9rem;
    }
}

/* News お知らせ */
.news {
    padding: 4.9rem 1.6rem 6.2rem;
}
@media (min-width: 768px) {
    .news {
        padding: 5.5rem 1.6rem 7rem;
    }
}
.news__list {
    list-style: none;
}
@media (min-width: 768px) {
    .news__list {
        max-width: 90rem;
        margin-inline: auto;
    }
}
.news__list li {
    border-bottom: .2rem #ddd solid;
    padding: 1.5rem 0 .95rem 0;
}
@media (min-width: 768px) {
    .news__list li {
        padding: .7rem 0 1.5rem 0;
    }
}
.news__list li:first-child {
    border-top: .2rem #ddd solid;
}
.news__list-date {
    font-size: 1.5rem;
    font-weight: 400;
}
@media (min-width: 768px) {
    .news__list-date {
        font-size: 1.4rem;
    }
}
.news__list-title {
    display: inline-block;
    border-radius: .4rem;
    background-color: #473221;
    width: 13.4rem;
    height: 2.8rem;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    margin-left: 1.8rem;
    padding-top: .2rem;
}
.news__list-text {
    display: inline-block;
    color: #09947b;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .01rem;
    padding-top: .85rem;
}
@media (min-width: 768px) {
    .news__list-text {
        margin-left: 2.1rem;
    }
}
.news__footer {
    text-align: center;
    margin-top: 4.9rem;
}
@media (min-width: 768px) {
    .news__footer {
        margin-top: 5.3rem;
    }
}
.news__button {
    width: 30rem;
    height: 6.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09947b;
    border-radius: 3.3rem;
    box-shadow: 0 .6rem 0 #066655;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    margin: 2.4rem auto 0;
    transition: all .2s ease;
}
@media (min-width: 768px) {
    .news__button {
        margin: 3rem auto 0;
    }
}
.news__button:hover {
    box-shadow: 0 .1rem 0 #066655;
    transform: translateY(.3rem);
    opacity: 1;

}

/* フッター */
.footer {
    background-color: #168352;
    padding: 2.2rem 1.6rem 2.8rem;
}
@media (min-width: 768px) {
    .footer {
        padding: 3.3rem 1.6rem 3.5rem;
    }
}
.footer__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer__list a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}
@media (min-width: 768px) {
    .footer__list a {
        font-size: 1.5rem;
    }
}
.footer__list-price {
    border-right: .2rem solid #fff;
    padding-right: 1.5rem;
}
@media (min-width: 768px) {
    .footer__list-price {
        padding-right: 2.1rem;
        padding-left: .5rem;
    }
}
.footer__list-faq {
    padding-left: 1.5rem;
}
@media (min-width: 768px) {
    .footer__list-faq {
        padding-left: 1.7rem;
    }
}

/* 価格・スペックページ
------------------------------ */
/* メイン */
.next-main {
    padding: 2rem 1.6rem 1.6rem;
}
@media (min-width: 768px) {
    .next-main {
        padding: 4rem 0 0 0;
        max-width: 120rem;
        margin-inline: auto;
    }
}
@media (min-width: 768px) {
    .next-main__visual {
        position: relative;
        max-width: 120rem;
        margin-inline: auto;
    }
}
.next-main__image {
    width: 35.8rem;
}
@media (min-width: 768px) {
    .next-main__image {
        width: 120rem;
    }
}
.next-main__image {
    width: 100%;
}
.next-main__title {
    font-size: 3rem;
    font-weight: 700;
    padding: 1.9rem 0 1.55rem;
}
@media (min-width: 768px) {
    .next-main__title {
        background-color: #fff;
        font-size: 3.6rem;
        padding: 2.5rem 3.6rem 2.6rem 4rem;
        border-top-right-radius: 4rem;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: -.2rem;
}
@media (min-width: 768px) {
    .breadcrumb {
        margin-top: 1.8rem;
    }
}
.top__title, .next__title {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: end;
}
.breadcrumb-arrow {
    width: 1rem;
    margin: 0 .5rem;
}

/* ギャラリー */
.gallery {
    padding: .5rem 1.6rem 0;
}
@media (min-width: 768px) {
    .gallery {
        max-width: 83.6rem;
        margin-inline: auto;
        padding: 3.5rem 1.6rem .9rem;
    }
}
.price-section__title {
    font-size: 2.2rem;
    font-weight: 700;
    width: 35.8rem;
    margin-bottom: 2.4rem;
    border-bottom: .2rem solid #ddd;
    position: relative;
    line-height: 2.15;
}
@media (min-width: 768px) {
    .price-section__title {
        font-size: 2.8rem;
        width: 80rem;
        border-bottom: .5rem solid #ddd;
        margin-bottom: 3.2rem;
        line-height: 2.75;
    }
}
.price-section__title::after {
    content: "";
    display: block;
    border-bottom: .2rem solid #168352;
    width: 5rem;
    position: absolute;
}
@media (min-width: 768px) {
        .price-section__title::after {
            width: 10rem;
            border-bottom: .5rem solid #168352;
        }
}
.gallery__image {
    width: 35.8rem;
    height: 23.7rem;
    border-radius: 2.4rem;
    margin-right: 1rem;
}
@media (min-width: 768px) {
    .gallery__image {
        width: 80rem;
        height: 50rem;
        border-radius: 2.4rem;
    }
}

@media (min-width: 768px) {
    .gallery__image {
        width: 100%;
    }
}

.slick-dots {
    bottom: .1rem;
    left: .4rem;
}
@media (min-width: 768px) {
    .slick-dots {
        bottom: 1.4rem;
        left: .3rem;
    }
}
.slick-dots li {
    width: 1.5rem;
    height: 2.1rem;
    margin: 0;
}
.slick-dotted {
    margin-bottom: .5rem;
}
.slick-dots li button:before {
    width: .8rem;
    height: .8rem;
    color: #eee;
    font-size: .8rem;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    color: #168352;
    opacity: 1;
}

/* 特長 */
.merit {
    padding: 2rem 1.6rem 0;
}
@media (min-width: 768px) {
    .merit {
        max-width: 83.6rem;
        margin-inline: auto;
        padding: .6rem 1.6rem .9rem;
    }
}
.merit__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
@media (min-width: 768px) {
    .merit__list {
        flex-direction: row;

        justify-content: space-between;
        max-width: 80rem;
        margin-inline: auto;
    }
}
.merit__image {
    width: 35.8rem;
}
@media (min-width: 768px) {
    .merit__image {
        width: 24.6rem;
    }
}

.merit__text {
    font-size: 1.8rem;
    font-weight: 700;
    padding: .8rem .1rem 3.4rem 0;
    line-break: anywhere;
}
@media (min-width: 768px) {
    .merit__text {
        max-width: 24.6rem;
        padding: .8rem 0 0 0 ;
    }
}

/* メーカー希望小売価格 */
.retail-price {
    padding: 1rem 1.6rem 2.7rem;
}
@media (min-width: 768px) {
    .retail-price {
        max-width: 83.6rem;
        margin-inline: auto;
        padding: 2.9rem 1.6rem .9rem;
    }
}
.retail-price__title {
    margin-bottom: 2.1rem;
}
@media (min-width: 768px) {
    .retail-price__title {
        margin-bottom: 3rem;
    }
}
.retail-price__text {
    font-family: "Montserrat" ,sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
}
@media (min-width: 768px) {
    .retail-price__text {
        margin-left: .3rem;
    }
}
.retail-price__text-01 {
    font-family: "Montserrat" ,sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
}
.retail-price__text-02 {
    font-family: "Noto Sans JP",sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}

/* スペック */
.specs {
    padding: 2.4rem 1.6rem 6.4rem;
}
@media (min-width: 768px) {
    .specs {
        max-width: 83.6rem;
        margin-inline: auto;
        padding: 3.6rem 1.6rem 7.2rem;
    }
}
.specs__title {
    margin-bottom: 2.3rem;
}
@media (min-width: 768px) {
    .specs__title {
        margin-bottom: 3.4rem;
    }
}
.specs__item {
    font-size: 2rem;
    font-weight: 700;
    border-left: .2rem solid #168352;
    line-height: 1.5;
    padding-left: 1.6rem;
    margin-bottom: 1.8rem;
}
@media (min-width: 768px) {
    .specs__item {
        font-size: 2.4rem;
        line-height: 1.3;
        margin: 0 0 2.2rem 3.2rem;
        padding: .2rem 0 .6rem 1.7rem;
    }
}
table {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    padding: 0 3rem;
}
@media (min-width: 768px) {
    table {
        max-width: 74rem;
        margin-inline: auto;
    }
}
th,td {
    display: block;
    border: .1rem solid #ddd;
    padding: .48rem 0 .49rem 1.9rem;
}
@media (min-width: 768px) {
    th,td {
        display: inline-block;
        padding: 1.75rem 0 1.6rem 1.9rem;
    }
}
th {
    background-color: #f5f5f5;
    font-size: 1.6rem;
    font-weight: 700;
}
@media (min-width: 768px) {
    th {
        width: 20rem;
    }
}
td {
    font-size: 1.6rem;
    font-weight: 400;
}
@media (min-width: 768px) {
    td {
        width: 54rem;
        padding-left: 2.3rem;
    }
}

/* お問い合わせ */
.contact {
    background-image: url(/assets/image/price_contact_sp.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 36rem;
    position: relative;
    padding: 0 1.6rem;
}
@media (min-width: 768px) {
    .contact {
        background-image: url(/assets/image/price_contact_pc.jpg);
        height: 45rem;
        align-items: center;
        justify-content: center;
    }
}
.contact::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.contact__button {
    border: .2rem solid #fff;
    border-radius: 4rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    position: absolute;
    width: 35.8rem;
    height: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 2rem;
    transition: .8s;
}
@media (min-width: 768px) {
    .contact__button:hover {
        color: #168352;
        background-color: #fff;
    }
}
/* よくあるご質問ページ
------------------------------*/
/* アコーディオン */
.faq__container {
    padding: 1.9rem 1.6rem 15.5rem;
}
@media (min-width: 768px) {
    .faq__container {
        padding: 6rem 1.6rem 5rem;
        width: 83.2rem;
        margin-inline: auto;
    }
}
.accordion {
    border: .1rem solid #ccc;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
    padding: 2.3rem 2.4rem 1.66rem 2.3rem;
}
@media (min-width: 768px) {
    .accordion {
        padding: 2rem 3.2rem 1.8rem;
    }
}
.accordion__title {
    cursor: pointer;
}
.accordion__title-top {
    display: flex;
    flex-direction: row;
}
.accordion__title-icon {
    font-family:  "Montserrat" ,sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #168352;
    line-height: 1;
    padding-right: .9rem;
}
.accordion__title-item {
    border: .1rem solid #168352;
    border-radius: .4rem;
    width: 10rem;
    height: 2.4rem;
    color: #168352;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding: .6rem .2rem 0 0;
    margin-left: .8rem;
}
@media (min-width: 768px) {
    .accordion__title-item {
        margin: .3rem 0 0 .6rem ;
    }
}
.icon {
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    transition: .6s;
    cursor: pointer;
    will-change: transform;
    margin: .2rem 0 0 auto;
}
@media (min-width: 768px) {
    .icon {
        margin: .5rem 0 0 auto;
    }
}
.icon:before {
    content: "";
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 2rem;
    height: .2rem;
    border-radius: 1rem;
    display: block;
    background-color: #000;
    top: 50%;
    left: 50%;
}
.icon:after {
    content: "";
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    width: .2rem;
    height: 2rem;
    border-radius: 1rem;
    display: block;
    transition: .3s;
    will-change: transform;
    background-color: #000;
    top: 50%;
    left: 50%;
}
.accordion__title.open
.icon:after {
    opacity: 0;
}
.accordion__title-text {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 3.7rem 0 4.3rem;
    line-break: anywhere;
}
@media (min-width: 768px) {
    .accordion__title-text {
        font-size: 1.8rem;
        margin: .8rem 0 0 4rem;
    }
}
.accordion__answer-text {
    font-size: 1.6rem;
    font-weight: 400;
    margin: .3rem 0 0 .2rem;
    line-break: anywhere;
}
@media (min-width: 768px) {
    .accordion__answer-text {
        margin: 1.7rem 0 0 0;
    }
}
.accordion__answer {
    display: none;
}